@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->

<form id="menu">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms"/>
        <input type="submit" value="Search" />
    </div>

    <div id="filters">

        <h4>Menu Item Types</h4>
        <label>
            <input type="checkbox" name="Types" value="Entrees" checked="@Model.Types.Contains("Entrees")"/>
            Entrees
        </label>
        <label>
            <input type="checkbox" name="Types" value="Drinks" checked="@Model.Types.Contains("Drinks")"/>
            Drinks
        </label>
        <label>
            <input type="checkbox" name="Types" value="Sides" checked="@Model.Types.Contains("Sides")"/>
            Sides
        </label>

        <h4>Calorie Range</h4>
        <div>
            Between
            <input name="CalorieMin" type="number" min="0" max="10000" step="1" placeholder="min" value="@Model.CalorieMin" />
            and
            <input name="CalorieMax" type="number" min="0" max="10000" step="1" placeholder="max" value="@Model.CalorieMax"/>
        </div>

        <h4>Price Range</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="50" step="0.1" placeholder="min" value="@Model.PriceMin"/>
            and
            <input name="PriceMax" type="number" min="0" max="50" step="0.1" placeholder="min" value="@Model.PriceMax"/>
        </div>

    </div>
</form>

<div class="welcome-message">
    <!--Welcome Header and Message-->
    <h1 class="bleakwind-buffet">Welcome to the Bleakwind Buffet!</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!
    </p>

    <h2>Add a combo to your meal!</h2>
    <p>Any entree, side, and drink can be combined into a combo with a $1 discount!</p>
    <p> </p>

    <div class="types">
        <!--HELP WITH ACCESSING-->
        <!--Entrees-->
        <p> </p>
        <div class="menu-item">
        <h2 class="entrees">Entrees</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.MenuItems)
            {
                if (item is BleakwindBuffet.Data.Entrees.Entree)
                {

                    <div class="name">@item.ToString()</div>
                    <div class="item-details">
                        <div class="entree-price">Price: $@item.Price</div>
                        <div class="entree-calories">Calories: @item.Calories</div>
                    </div>
                    <p>@item.Description</p>
                    <p> </p>
                }
            }
        </div>

        <!--Sides-->
        <!--Check exists methods to display names from the list-->
        <p> </p>
        <div class="menu-item">
        <h2 class="sides">Sides</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in @Model.MenuItems)
            {
                if (item is BleakwindBuffet.Data.Sides.Side side)
                {
                    string name = side.ToString();
                    if (side.ToString().Contains("Small Dragonborn Waffle Fries"))
                    {
                        name = "Dragonborn Waffle Fries";
                        <div class="name">@name</div>
                    }
                    if (side.ToString().Contains("Small Fried Miraak"))
                    {
                        name = "Fried Miraak";
                        <div class="name">@name</div>
                    }
                    if (side.ToString().Contains("Small Mad Otar Grits"))
                    {
                        name = "Mad Otar Grits";
                        <div class="name">@name</div>
                    }
                    if (side.ToString().Contains("Small Vokun Salad"))
                    {
                        name = "Vokun Salad";
                        <div class="name">@name</div>
                    }
                    switch (side.Size)
                    {
                        case BleakwindBuffet.Data.Enums.Size.Small:
                            <div class="side-size">• Small</div>
                            <div class="item-details">
                                <div class="side-price">Price: $@side.Price</div>
                                <div class="side-calories">Calories: @side.Calories</div>
                            </div>
                            <p>@item.Description</p>
                            break;

                        case BleakwindBuffet.Data.Enums.Size.Medium:
                            <div class="side-size">• Medium</div>
                            <div class="item-details">
                                <div class="side-price">Price: $@side.Price</div>
                                <div class="side-calories">Calories: @side.Calories</div>
                            </div>
                            <p>@item.Description</p>
                            break;

                        case BleakwindBuffet.Data.Enums.Size.Large:
                            <div class="side-size">• Large</div>
                            <div class="item-details">
                                <div class="side-price">Price: $@side.Price</div>
                                <div class="side-calories">Calories: @side.Calories</div>
                            </div>
                            <p>@item.Description</p>
                            break;
                    }
                }

                <p> </p>
            }

        </div>

        <!--Drinks-->
        <p> </p>
        <div class="menu-item">
        <h2 class="drinks">Drinks</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in @Model.MenuItems)
            {
                if (item is BleakwindBuffet.Data.Drinks.Drink drink)
                {
                    string name = drink.ToString();
                    if (name.ToString().Contains("Small Aretino Apple Juice"))
                    {
                        name = "Aretino Apple Juice";
                        <div class="name">@name</div>
                    }
                    if (name.ToString().Contains("Small Candlehearth Coffee"))
                    {
                        name = "Candlehearth Coffee";
                        <div class="name">@name</div>
                    }
                    if (name.ToString().Contains("Small Markarth Milk"))
                    {
                        name = "Markarth Milk";
                        <div class="name">@name</div>
                    }
                    if (name.ToString().Contains("Small Blackberry Sailor Soda"))
                    {
                        name = "Sailor Soda";
                        <div class="name">@name</div>
                        <div class="drink-size">• Flavors</div>
                        <div class="item-details">Cherry</div>
                        <div class="item-details">Blackberry</div>
                        <div class="item-details">Grapefruit</div>
                        <div class="item-details">Lemon</div>
                        <div class="item-details">Peach</div>
                        <div class="item-details">Watermelon</div>

                        <div class="drink-size">• Small</div>
                        <div class="item-details">
                            <div class="drink-price">Price: $@drink.Price</div>
                            <div class="drink-calories">Calories: @drink.Calories</div>
                        </div>
                        <p>@item.Description</p>
                    }
                    if (name.ToString().Contains("Small Warrior Water"))
                    {
                        name = "Warrior Water";
                        <div class="name">@name</div>
                    }
                    if (!(name.ToString().Contains("Sailor Soda")))
                    {
                        switch (drink.Size)
                        {
                            case BleakwindBuffet.Data.Enums.Size.Small:
                                <div class="drink-size">• Small</div>
                                <div class="item-details">
                                    <div class="drink-price">Price: $@drink.Price</div>
                                    <div class="drink-calories">Calories: @drink.Calories</div>
                                </div>
                                <p>@item.Description</p>
                                break;

                            case BleakwindBuffet.Data.Enums.Size.Medium:
                                <div class="drink-size">• Medium</div>
                                <div class="item-details">
                                    <div class="drink-price">Price: $@drink.Price</div>
                                    <div class="drink-calories">Calories: @drink.Calories</div>
                                </div>
                                <p>@item.Description</p>
                                break;

                            case BleakwindBuffet.Data.Enums.Size.Large:
                                <div class="drink-size">• Large</div>
                                <div class="item-details">
                                    <div class="drink-price">Price: $@drink.Price</div>
                                    <div class="drink-calories">Calories: @drink.Calories</div>
                                </div>
                                <p>@item.Description</p>
                                break;
                        }
                    }
                    if (name.ToString().Contains("Blackberry Sailor Soda"))
                    {
                        switch (drink.Size)
                        {
                            case BleakwindBuffet.Data.Enums.Size.Medium:
                                <div class="drink-size">• Medium</div>
                                <div class="item-details">
                                    <div class="drink-price">Price: $@drink.Price</div>
                                    <div class="drink-calories">Calories: @drink.Calories</div>
                                </div>
                                <p>@item.Description</p>
                                break;

                            case BleakwindBuffet.Data.Enums.Size.Large:
                                <div class="drink-size">• Large</div>
                                <div class="item-details">
                                    <div class="drink-price">Price: $@drink.Price</div>
                                    <div class="drink-calories">Calories: @drink.Calories</div>
                                </div>
                                <p>@item.Description</p>
                                break;
                        }
                    }
                    <p> </p>
                }

            }
        </div>
    </div>
</div>