@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->

<div class="welcome-message">
    <!--Welcome Header and Message-->
    <h1 class="bleakwind-buffet">Welcome to the Bleakwind Buffet!</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!
    </p>

    <!--HELP WITH ACCESSING-->
    <!--Entrees-->
    <p> </p>
    <h2 class="entrees">Entrees</h2>
    <div class="menu-item">
        @foreach (BleakwindBuffet.Data.Entrees.Entree entree in BleakwindBuffet.Data.Menu.Entrees())
        {

            <div class="entree-name">@entree.ToString()</div>
            <div class="entree-details">
                <div class="entree-price">Price: $@entree.Price</div>
                <div class="entree-calories">Calories: @entree.Calories</div>
            </div>
            <p> </p>
        }
    </div>

    <!--Sides-->
    <p> </p>
    <h2 class="sides">Sides</h2>
    <div class="menu-item">
        @foreach (BleakwindBuffet.Data.Sides.Side side in BleakwindBuffet.Data.Menu.Sides())
        {
            string name = side.ToString();
            if (side.ToString().Contains("Small Dragonborn Waffle Fries"))
            {
                name = "Dragonborn Waffle Fries";
                <div class="side-name">@name</div>
            }
            if (side.ToString().Contains("Small Fried Miraak"))
            {
                name = "Fried Miraak";
                <div class="side-name">@name</div>
            }
            if (side.ToString().Contains("Small Mad Otar Grits"))
            {
                name = "Mad Otar Grits";
                <div class="side-name">@name</div>
            }
            if (side.ToString().Contains("Small Vokun Salad"))
            {
                name = "Vokun Salad";
                <div class="side-name">@name</div>
            }
            switch (side.Size)
            {
                case BleakwindBuffet.Data.Enums.Size.Small:
                    <div class="side-size">• Small</div>
                    <div class="side-details">
                        <div class="side-price">Price: $@side.Price</div>
                        <div class="side-calories">Calories: @side.Calories</div>
                    </div>
                    break;

                case BleakwindBuffet.Data.Enums.Size.Medium:
                    <div class="side-size">• Medium</div>
                    <div class="side-details">
                        <div class="side-price">Price: $@side.Price</div>
                        <div class="side-calories">Calories: @side.Calories</div>
                    </div>
                    break;

                case BleakwindBuffet.Data.Enums.Size.Large:
                    <div class="side-size">• Large</div>
                    <div class="side-details">
                        <div class="side-price">Price: $@side.Price</div>
                        <div class="side-calories">Calories: @side.Calories</div>
                    </div>
                    break;
            }
            <p> </p>
        }

    </div>

    <!--Drinks-->
    <p> </p>
    <h2 class="drinks">Drinks</h2>
    <div class="menu-item">
        @foreach (BleakwindBuffet.Data.Drinks.Drink drink in BleakwindBuffet.Data.Menu.Drinks())
        {
            string name = drink.ToString();
            if (name.ToString().Contains("Small Aretino Apple Juice"))
            {
                name = "Aretino Apple Juice";
                <div class="drink-name">@name</div>
            }
            if (name.ToString().Contains("Small Candlehearth Coffee"))
            {
                name = "Candlehearth Coffee";
                <div class="drink-name">@name</div>
            }
            if (name.ToString().Contains("Small Markarth Milk"))
            {
                name = "Markarth Milk";
                <div class="drink-name">@name</div>
            }
            if (name.ToString().Contains("Small Blackberry Sailor Soda"))
            {
                name = "Sailor Soda";
                <div class="drink-name">@name</div>
                <div class="drink-size">• Flavors</div>
                <div class="drink-details">Cherry</div>
                <div class="drink-details">Blackberry</div>
                <div class="drink-details">Grapefruit</div>
                <div class="drink-details">Lemon</div>
                <div class="drink-details">Peach</div>
                <div class="drink-details">Watermelon</div>

                <div class="drink-size">• Small</div>
                <div class="drink-details">
                    <div class="drink-price">Price: $@drink.Price</div>
                    <div class="drink-calories">Calories: @drink.Calories</div>
                </div>
            }
            if (name.ToString().Contains("Small Warrior Water"))
            {
                name = "Warrior Water";
                <div class="drink-name">@name</div>
            }
            if (!(name.ToString().Contains("Sailor Soda")))
            {
                switch (drink.Size)
                {
                    case BleakwindBuffet.Data.Enums.Size.Small:
                        <div class="drink-size">• Small</div>
                        <div class="drink-details">
                            <div class="drink-price">Price: $@drink.Price</div>
                            <div class="drink-calories">Calories: @drink.Calories</div>
                        </div>
                        break;

                    case BleakwindBuffet.Data.Enums.Size.Medium:
                        <div class="drink-size">• Medium</div>
                        <div class="drink-details">
                            <div class="drink-price">Price: $@drink.Price</div>
                            <div class="drink-calories">Calories: @drink.Calories</div>
                        </div>
                        break;

                    case BleakwindBuffet.Data.Enums.Size.Large:
                        <div class="drink-size">• Large</div>
                        <div class="drink-details">
                            <div class="drink-price">Price: $@drink.Price</div>
                            <div class="drink-calories">Calories: @drink.Calories</div>
                        </div>
                        break;
                }
            }
            if (name.ToString().Contains("Blackberry Sailor Soda"))
            {
                switch (drink.Size)
                {
                    case BleakwindBuffet.Data.Enums.Size.Medium:
                        <div class="drink-size">• Medium</div>
                        <div class="drink-details">
                            <div class="drink-price">Price: $@drink.Price</div>
                            <div class="drink-calories">Calories: @drink.Calories</div>
                        </div>
                        break;

                    case BleakwindBuffet.Data.Enums.Size.Large:
                        <div class="drink-size">• Large</div>
                        <div class="drink-details">
                            <div class="drink-price">Price: $@drink.Price</div>
                            <div class="drink-calories">Calories: @drink.Calories</div>
                        </div>
                        break;
                }
            }
            <p> </p>
        }
    </div>
    <p>Any entree, side, and drink can be combined into a combo with a $1 discount!</p>
</div>